body{
    background-color: white;
    color: #333;
    font-family: 'Garamond', Times New Roman, Times, serif;
	font-size: 20px;
    margin: 0px;
}
.fundo{
	background-image: url("./img/fundo.jpg");
	background-repeat: repeat;
    background-attachment: fixed;
}
.header{
    background-image: url("./img/header.png");
	background-repeat: no-repeat;
    background-size: contain;
}
.bar{
    background-image: url("./img/barra.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.white{
    background-color: white;
}
.a-gold{
    color: #cc0;
}
.a-blue{
    color: blue;
}
.a-yellow{
    color: #fc0;
}
.a-red{
    color: red;
}
.a-grey{
    color: white;
}
a:hover{
    color: goldenrod;
    text-decoration: none;
}
.button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border-color: white;
}
.btn{
    width: 30px;
    margin: 2px;
	padding: 2px;
}
.nav-pills{
    background-color: #333;
}
.nav-link{
    color: yellow;
}
.card{
	background-color: #eee;
}
.div-black{
	background-color: black;
}
.div-black-transparent{
	background-color: rgb(0,0,0,0.7);
}
.transparent{
	background-color: rgb(0,0,0,0);
}
hr{
    color: #999;
}
.bonds{
    background-image: url("./img/bonds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}
.numerals{
    background-image: url("./img/numerals.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}